.markdown-container h2 {
	font-size: 3rem;
}

.markdown-container ul {
	margin: inherit;
	padding: inherit;
	list-style-type: circle;
}

.markdown-container ol {
	margin: inherit;
	padding: inherit;
	list-style-type: upper-roman;
}