.w-md-editor-toolbar {
    padding: 15px 0 15px 0 !important;
    background-color: rgb(17 24 39 / 1) !important;
}

.w-md-editor-toolbar svg {
    width: 20px !important;
    height: 20px !important;
}

.w-md-editor-toolbar-divider {
    height: 20px !important;
    margin: 2px 3px 0 3px !important;
}

.w-md-editor-toolbar li > button:hover, .w-md-editor-toolbar li > button:focus {
    background-color: transparent !important;
}

.w-md-editor-toolbar li.active > button {
    background-color: transparent !important;
}

.w-md-editor, .wmde-markdown {
    background-color: rgb(17 24 39 / 1) !important;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color:rgb(79 70 229);
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-track {
    background-color:rgb(55 65 81 / 1);
    border-radius: 0;
}